<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    /* New Css */

    [data-path="login"] .navbar.navbar-light {
        display: none;
    }

    /*HEADER & FOOTER CSS*/
    .top_header {
        background: #0060AE;
    }

    .top_header .contacts {
        font-size: 16px;
        line-height: 19px;
        color: #fff;
        text-decoration: none;
        font-weight: 400;
        font-family: "Poppins", sans-serif;
    }

    .top_header i {
        color: #fff;
        font-size: 16px;
    }

    body .top_header .btn.btn-danger {
        padding: 9px 18px;
        background: #DC0505;
        border-radius: 0;
        font-size: 16px;
        line-height: 20px;
        font-weight: 600;
        font-family: "Poppins", sans-serif;
    }

    .navbar {
        padding: 0 !important;
        border-bottom: 0;

    }

    .fixed_header .navbar {
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 9;
    }

    .navbar .ml-auto.navbar-nav {
        align-items: center;
    }

    .navbar .ml-auto.navbar-nav .nav-link .avatar .standard-image {
        background-color: #0060ae !important;
        color: #ffffff !important;
        font-size: 16px;
        font-weight: 500;
    }

    body footer.web-footer {
        display: block;
        background-color: #003C73;
        padding: 18px 0px;
        min-height: auto;
        border-top: 0;
        margin-top: 0px;
    }

    footer.web-footer .footer-grouped-links,
    .footer-powered,
    .footer-logo-extension {
        display: none;
    }

    footer.footer-col-left,
    footer.footer-col-right {
        padding: 0px;
    }

    footer.web-footer .container {
        display: flex;
        flex-direction: row-reverse;
    }

    .footer-links,
    .footer-info {
        width: 50%;
    }

    footer.web-footer .footer-links .footer-col-left {
        width: 100%;
        text-align: right;
    }

    footer.web-footer .footer-info .footer-col-left.col-sm-6 {
        width: 100%;
        padding: 0;
    }

    footer.web-footer .footer-info {
        color: #fff;
        font-size: 16px;
        font-family: "Poppins", sans-serif;
    }

    footer.web-footer .footer-col-left .footer-link {
        margin-right: 30px;
        font-size: 16px;
        font-weight: 400;
        color: #fff;
        text-decoration: none;
        font-family: "Poppins", sans-serif;
    }

    footer.web-footer .footer-col-left .footer-link:hover {
        color: #FED857;
    }

    .navbar-expand-lg .navbar-nav .nav-link.nav-avatar {
        padding-right: 0 !important;
        padding-left: 15px !important;
    }

    .navbar-brand {
        padding: 8px 0px !important;
    }

    .navbar-brand img {
        max-width: unset;
        max-height: unset;
    }

    footer.web-footer .footer-links .footer-col-left {
        text-align: center;
        padding: 0;
    }

    /*Log-in page css*/
    #page-login .btn.btn-primary {
        border-color: #003c73;
        background-color: #003c73;
    }

    #page-login .btn-primary:hover {
        color: #fff;
        background-color: #0b5ed7;
        border-color: #0a58ca;
    }

    #page-message .page-content-wrapper,
    #page-app .page-content-wrapper {
        height: calc(100vh - 109px);
        background-image: url(/assets/akf_design/images/akf_bg_img.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom;
        position: relative;
    }

    #page-message .page-card,
    #page-app .page-card {
        margin: 0;
    }

    #page-login .container.my-4,
    #page-app .container.my-4,
    #page-message .container.my-4 {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }

    .for-login {
        padding: 24px 0;
        position: relative;
    }

    #page-app .page-card,
    #page-message .page-card {
        width: 100%;
        padding-top: 30px;
        background-color: #cfcfcfb0;
        padding-bottom: 30px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .app_logo {
        margin-bottom: 45px;
    }

    .for-login,
    .for-forgot,
    .for-login-with-email-link {
        display: flex;
        justify-content: space-between;

    }

    .for-login .left_section,
    .for-forgot .left_section,
    .for-login-with-email-link .left_section {
        width: 65%;
        background-color: hwb(0deg 100% 0% / 95%);
        padding: 45px 50px;
        border-radius: 8px;
    }

    .for-login .left_section h1,
    .for-forgot .left_section h1,
    .for-login-with-email-link .left_section h1 {
        font-family: "Poppins", sans-serif;
        font-weight: 800;
    }

    .for-login .left_section h1 span,
    .for-forgot .left_section h1 span,
    .for-login-with-email-link .left_section h1 span {
        color: #003c73;
        font-weight: 600;
        font-size: 50px;
    }

    .for-login .page-card form {
        max-width: unset;
    }

    .for-login .left_section h1 span i,
    .for-forgot .left_section h1 span i,
    .for-login-with-email-link .left_section h1 span i {
        font-size: 36px;
        display: block;
        color: #1a91ff;
    }

    .for-login .page-card,
    .for-forgot .page-card,
    .for-login-with-email-link .page-card {
        max-width: unset;
        width: 34%;
        display: flex;
        padding: 45px 24px;
        background-color: hsl(0deg 0% 100% / 85%);
        align-items: center;
    }

    .for-login .page-card form,
    .for-forgot .page-card form,
    .for-login-with-email-link .page-card form {
        width: 100% !important;
    }

    form .form-signin.form-login-with-email-link {
        max-width: unset;
    }

    .login-content.page-card .btn.btn-primary {
        min-height: 48px;
        border-radius: 4px;
        border-color: var(--primary);
    }

    .login-content.page-card .btn-primary:focus {
        box-shadow: unset;
    }

    .form-control {
        min-height: 48px;
        border-radius: 4px;
    }


    .for-login .page-card .page-card-body input[type=text],
    .for-forgot .page-card .page-card-body input[type=email],
    .for-login .page-card .page-card-body input[type=password],
    .for-login-with-email-link .page-card .page-card-body input[type=email] {
        background-color: #fff !important;
    }

    #page-login .for-login .page-card .page-card-body .forgot-password-message>*,
    #page-login .for-login .sign-up-message {
        color: #000;
        font-size: 13px;
    }

    .for-login .sign-up-message a,
    .for-forgot .sign-up-message a {
        font-size: 12px;
        color: #003c73;
        font-weight: 500;
    }

    #page-login .for-login .page-card .page-card-body .field-icon,
    #page-login .for-forgot .page-card .page-card-body .field-icon,
    #page-login .for-login-with-email-link .page-card .page-card-body .field-icon,
    #page-login .for-login .page-card .page-card-body .password-field .toggle-password {
        top: 15px;
    }


    textarea.form-control {
        height: 120px !important;
    }

    .like-disabled-input {
        min-height: 48px;
        padding: 13px 8px;
    }

    /*Log-in page css end*/
    /*Job Application Form page css*/
    #page-job-application {
        background-image: url(/assets/akf_design/images/imgpsh_fullsize_anim_2.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    #page-job-application .web-form .web-form-wrapper .form-page form {
        display: flex;
        flex-wrap: wrap;
        column-gap: 14px;
    }

    [data-doctype="Web Form"] .page-content-wrapper .container .page_content {
        max-width: unset;
    }

    [data-doctype="Web Form"] .page-content-wrapper .container .page_content .web-form .web-form-wrapper .form-control {
        border: 0;
    }

    #page-job-application .page-content-wrapper .container .page_content .web-form .web-form-wrapper .form-column .frappe-control {
        width: 32%;
    }

    #page-job-application .page-content-wrapper .container .page_content .web-form .web-form-wrapper .form-column .frappe-control:last-child {
        width: 100%;
    }

    .jobs-page [data-path="jobs"],
    [data-doctype="Job Opening"] {
        background-image: url(/assets/akf_design/images/imgpsh_fullsize_anim_2.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    .jobs-page main.container.my-4 {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }

    .other-badge {
        color: #0060AE;
    }

    .input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
        margin-left: 12px !important;
    }

    .job-card-footer {
        background: #0060AE;
        border-radius: 0 0 4px 4px;
    }

    .job-card-footer p {
        color: #fff;
    }

    .job_opening {
        padding: 24px;
        background: #fff;
        border-radius: 12px;
    }

    input[type="checkbox"] {
        width: 18px !important;
        min-width: 18px;
        height: 18px !important;
        border-radius: 4px;
        border: 1px solid #707070;
        background: #fff;
    }

    input[type="checkbox"]:checked[type=checkbox] {
        background-color: #0060AE;
        accent-color: #0060AE;
        border-color: #0060AE;
        position: relative;
        background-image: unset;
        border: unset !important;
    }

    input[type="checkbox"]:checked[type=checkbox]::after {
        content: "";
        position: absolute;
        left: 6px;
        top: 2px;
        width: 6px;
        height: 10px;
        border: solid white;
        border-width: 0 2.7px 2.7px 0;
        transform: rotate(40deg);
        opacity: 1;
    }

    .ql-editor.read-mode {
        padding: 24px;
        background: #fff;
        border-radius: 12px;
    }

    .ql-editor.read-mode p strong {
        margin-bottom: 16px;
        display: inline-block;
        margin-top: 24px;
    }

    /* custom css */
    .for-login .page-card,
    .for-forgot .page-card,
    .for-login-with-email-link .page-card {
        max-width: unset;
        display: flex;
        padding: 45px 24px;
        background-color: hsl(0deg 0% 100% / 85%) !important;
        align-items: center;
    }

    .for-login .page-card,
    .for-forgot .page-card,
    .for-login-with-email-link .page-card,
    .for-signup .page-card,
    .for-email-login .page-card {
        max-width: unset !important;
        padding: 45px 10px;
        background-color: #fff;
        margin: 0 auto;
        border-radius: var(--border-radius-md);
        border: 1px solid var(--border-color);
    }

    .for-login .page-card form,
    .for-forgot .page-card form,
    .for-login-with-email-link .page-card from {
        width: 100% !important;
    }

    .for-login .page-card form {
        max-width: unset !important;
    }

    .for-login .page-card,
    .for-forgot .page-card,
    .for-login-with-email-link .page-card {
        padding: 45px 24px !important;
    }

    @media screen and (max-width: 1199px) {

        .for-login .left_section h1,
        .for-forgot .left_section h1,
        .for-login-with-email-link .left_section h1 {
            font-weight: 700;
        }

        .for-login .left_section h1 span,
        .for-forgot .left_section h1 span,
        .for-login-with-email-link .left_section h1 span {
            font-size: 40px;
        }

        .for-login .left_section h1 span i,
        .for-forgot .left_section h1 span i,
        .for-login-with-email-link .left_section h1 span i {
            font-size: 32px;
        }
    }

    [data-doctype="Web Form"] .page-content-wrapper .container .page_content .web-form .web-form-wrapper .form-section .section-head {
        padding: 15px 11px;
    }

    @media screen and (max-width: 992px) {
        #page-job-application .web-form .web-form-wrapper .form-page form {
            column-gap: 12px;
        }

        .for-login .left_section,
        .for-forgot .left_section,
        .for-login-with-email-link .left_section {
            width: 60%;
            padding: 35px 25px;
        }

        .app_logo {
            margin-bottom: 60px;
        }

        .for-login .left_section h1,
        .for-forgot .left_section h1,
        .for-login-with-email-link .left_section h1 {
            font-weight: 600;
        }

        .for-login .left_section h1 span,
        .for-forgot .left_section h1 span,
        .for-login-with-email-link .left_section h1 span {
            font-size: 32px;
        }

        .for-login .left_section h1 span i,
        .for-forgot .left_section h1 span i,
        .for-login-with-email-link .left_section h1 span i {
            font-size: 23px;
        }

        .for-login .page-card,
        .for-forgot .page-card,
        .for-login-with-email-link .page-card {
            width: 39%;
            padding: 45px 24px;

        }
    }

    @media screen and (max-width: 767px) {
        .navbar-brand img {
            max-width: 150px;
        }

        #page-job-application .page-content-wrapper .container .page_content .web-form .web-form-wrapper .form-column .frappe-control {
            width: 100%;
        }

        .for-login .page-card,
        .for-forgot .page-card,
        .for-login-with-email-link .page-card {
            width: 100%;
            display: block;
            padding: 16px !important;
        }

        .for-login .page-card .app_logo,
        .for-login-with-email-link .page-card .app_logo {
            margin: 0 auto 10px auto;
            width: 165px;
        }

        .for-login .page-card h4,
        .for-login-with-email-link .page-card h4 {
            font-size: 17px;
            text-align: center;
        }

        #page-login .for-login .page-card .page-card-body .forgot-password-message {
            margin-bottom: 10px;
        }

        #page-login .for-login .page-card .page-card-actions {
            margin-top: 10px;
        }

        .for-login .page-card .page-card-body .login-divider {

            margin: 10px 0px;
        }

        /*.social-login-buttons{*/
        /*    display:none;*/
        /*}*/
        .for-login .page-card .page-card-body .social-logins .social-login-buttons {

            margin: 0px;
        }

        .for-login .page-card-head,
        .for-forgot .page-card-head {
            margin-bottom: 24px;
        }

        .for-login .left_section,
        .for-forgot .left_section,
        .for-login-with-email-link .left_section {
            display: none;
        }

        .top_header {
            padding: 5px 0px;
        }

        .social_icons.d-flex {
            display: none !important;
        }

        .navbar>.container,
        .container {
            padding: 0 18px !important;
        }

        .navbar .ml-auto.navbar-nav {
            align-items: flex-start;
            row-gap: 12px;
        }

        .contact_info.align-items-center.gap-3 {
            flex-direction: column;
            row-gap: 5px !important;
            align-items: flex-start !important;
        }

        .top_header i {
            font-size: 13px;
        }

        .footer-links,
        .footer-info {
            width: 100%;
        }

        footer.web-footer .container {
            flex-direction: column;
        }

        footer.web-footer .footer-links .footer-col-left {
            text-align: center;
        }

        footer.web-footer .footer-info {
            font-size: 14px;
            text-align: center;
            margin-top: 10px;
        }

        #page-login .login-content.page-card::before {
                content: url(/files/splash_akf_logo.png);
                display: block;
                margin-bottom: 20px;
                text-align: center;
        }
    }


    .page-content-wrapper {
        background-image: url(/assets/akf_design/images/akf_bg_img.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
        height: calc(100vh - 108px);
        background-position: bottom;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .for-login-with-email-link .page-card form {
        width: 100%;
    }

    .web-footer .footer-info .footer-col-left.col-sm-6 {
        max-width: 100%;
    }

    @media (min-width: 576px) {
        footer .col-sm-6 {
            flex: 0 0 auto;
        }
    }

    @media (min-width: 1400px) {

        .container,
        .container-lg,
        .container-md,
        .container-sm,
        .container-xl,
        .container-xxl {
            max-width: 1320px;
        }
    }

    /*Job Application Form page css end*/
</style>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />

<div class="top_header">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex gap-3 align-items-center contact_info">
                <a class="contacts" href="mailto:info@alkhidmat.org">
                    <i class="fa-regular fa-envelope"></i>
                    <span class="contact-txt"> info@alkhidmat.org</span>
                </a>
                <a class="contacts" href="tel:0800 44448">
                    <i class="fa-solid fa-phone"></i>
                    <span class="contact-txt"> 0800 44448</span>
                </a>
            </div>
            <div class="d-flex gap-3 align-items-center">
                <div class="d-flex gap-3 align-items-center social_icons">
                    <a target="_blank" href="https://www.facebook.com/alkhidmat.org/"> <i
                            class="fa-brands fa-facebook-f"></i></a>
                    <a target="_blank" href="https://twitter.com/alkhidmatorg"><i class="fa-brands fa-twitter"></i></a>
                    <a target="_blank" href="https://www.youtube.com/@Alkhidmatpakistan"> <i
                            class="fa-brands fa-youtube"></i></a>
                    <a target="_blank" href="https://www.instagram.com/alkhidmatpakistan/"><i
                            class="fa-brands fa-square-instagram"></i></a>

                </div>
                <a class="btn btn-danger" href="/jobs"> Jobs</a>
            </div>
        </div>
    </div>
</div>

{% extends "templates/web.html" %}

{% macro email_login_body() -%}

{% if not disable_user_pass_login or (ldap_settings and ldap_settings.enabled) %}
<div class="page-card-body">
    <div class="form-group">
        <label class="form-label sr-only" for="login_email">{{ login_label or _("Email")}}</label>
        <div class="email-field">
            <input type="text" id="login_email" class="form-control"
                placeholder="{% if login_name_placeholder %}{{ login_name_placeholder  }}{% else %}{{ _('jane@example.com') }}{% endif %}"
                required autofocus autocomplete="username">

            <svg class="field-icon email-icon" width="16" height="16" viewBox="0 0 16 16" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <use class="es-lock" href="#es-line-email"></use>
            </svg>
        </div>
    </div>

    <div class="form-group">
        <label class="form-label sr-only" for="login_password">{{ _("Password") }}</label>
        <div class="password-field">
            <input type="password" id="login_password" class="form-control" placeholder="•••••"
                autocomplete="current-password" required>

            <svg class="field-icon password-icon" width="16" height="16" viewBox="0 0 16 16" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <use class="es-lock" href="#es-line-lock"></use>
            </svg>
            <span toggle="#login_password" class="toggle-password text-muted">{{ _('Show') }}</span>
        </div>
    </div>

    <p class="forgot-password-message">
        <a href="#forgot">{{ _("Forgot Password?") }}</a>
    </p>
</div>
{% endif %}
<div class="page-card-actions">
    {% if not disable_user_pass_login %}
    <button class="btn btn-sm btn-primary btn-block btn-login" type="submit">
        {{ _("Login") }}</button>
    {% endif %}
    {% if ldap_settings and ldap_settings.enabled %}
    <button class="btn btn-sm btn-default btn-block btn-login btn-ldap-login">
        {{ _("Login with LDAP") }}</button>
    {% endif %}
</div>
{% endmacro %}

{% block head_include %}
{{ include_style('login.bundle.css') }}
{% endblock %}

{% macro logo_section(title=null) %}
<!-- <div class="page-card-head">
	<img class="app-logo" src="{{ logo }}">
	{% if title %}
	<h4>{{ _(title)}}</h4>
	{% else %}
	<h4>{{ _('Login to {0}').format(app_name or _("Frappe")) }}</h4>
	{% endif %}
</div> -->
<div class="left_section">
    <div class="app_logo">
        <img class="app-logo" src="{{ logo }}">
    </div>
    <h1> Welcome to <br><span> Alkhidmat Foundation <i>Enterprise Resource Planning - ERP</i></span></h1>
</div>
{% endmacro %}

{% block page_content %}
<!-- {{ for_test }} -->
<div>
    <noscript>
        <div class="text-center my-5">
            <h4>{{ _("Javascript is disabled on your browser") }}</h4>
            <p class="text-muted">
                {{ _("You need to enable JavaScript for your app to work.") }}<br>{{ _("To enable it follow the
                instructions in the following link: {0}").format("<a
                    href='https://enable-javascript.com/'>enable-javascript.com</a></p>") }}
        </div>
    </noscript>
    <section class='for-login'>
        {{ logo_section() }}
        <div class="login-content page-card">
            <form class="form-signin form-login" role="form">
                {%- if social_login or login_with_email_link -%}
                <div class="page-card-body">
                    <form class="form-signin form-login" role="form">
                        {{ email_login_body() }}
                    </form>
                    <div class="social-logins text-center">
                        {% if not disable_user_pass_login or (ldap_settings and ldap_settings.enabled) %}
                        <p class="text-muted login-divider">{{ _("or") }}</p>
                        {% endif %}
                        <div class="social-login-buttons">
                            {% for provider in provider_logins %}
                            <div class="login-button-wrapper">
                                <a href="{{ provider.auth_url }}"
                                    class="btn btn-block btn-default btn-sm btn-login-option btn-{{ provider.name }}">
                                    {% if provider.icon %}
                                    {{ provider.icon }}
                                    {% endif %}
                                    {{ _("Login With {0}").format(provider.provider_name) }}</a>
                            </div>
                            {% endfor %}
                        </div>
                        {% if login_with_email_link %}
                        <div class="login-with-email-link social-login-buttons">
                            <div class="login-button-wrapper">
                                <a href="#login-with-email-link"
                                    class="btn btn-block btn-default btn-sm btn-login-option btn-login-with-email-link">
                                    {{ _("Login with Email Link") }}</a>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
                {% else %}
                {{ email_login_body() }}
                {%- endif -%}
            </form>
        </div>
        {%- if not disable_signup and not disable_user_pass_login -%}
        <div class="text-center sign-up-message">
            {{ _("Don't have an account?") }}
            <a href="#signup">{{ _("Sign up") }}</a>
        </div>
        {%- endif -%}
    </section>

    {%- if social_login -%}
    <section class='for-email-login'>
        {{ logo_section() }}
        <div class="login-content page-card">
            <form class="form-signin form-login" role="form">
                {{ email_login_body() }}
            </form>
        </div>
        {%- if not disable_signup and not disable_user_pass_login -%}
        <div class="text-center sign-up-message">
            {{ _("Don't have an account?") }}
            <a href="#signup">{{ _("Sign up") }}</a>
        </div>
        {%- endif -%}
    </section>
    {%- endif -%}
    <section class='for-signup {{ "signup-disabled" if disable_signup else "" }}'>
        {{ logo_section(_('Create a {0} Account').format(app_name or _("Frappe"))) }}
        <div class="login-content page-card">
            {%- if not disable_signup -%}
            {{ signup_form_template }}
            {%- else -%}
            <div class='page-card-head mb-2'>
                <span class='indicator gray'>{{_("Signup Disabled")}}</span>
                <p class="text-muted text-normal sign-up-message mt-1 mb-8">{{_("Signups have been disabled for this
                    website.")}}</p>
                <div><a href='/' class='btn btn-primary btn-md'>{{ _("Home") }}</a></div>
            </div>
            {%- endif -%}
        </div>

    </section>

    <section class='for-forgot'>
        {{ logo_section('Forgot Password') }}
        <div class="login-content page-card">
            <form class="form-signin form-forgot hide" role="form">
                <div class="page-card-body">
                    <div class="email-field">
                        <input type="email" id="forgot_email" class="form-control"
                            placeholder="{{ _('Email Address') }}" required autofocus autocomplete="username">
                        <svg class="field-icon email-icon" width="20" height="20" viewBox="0 0 20 20" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M2.5 7.65149V15.0757C2.5 15.4374 2.64367 15.7842 2.8994 16.04C3.15513 16.2957 3.50198 16.4394 3.86364 16.4394H16.1364C16.498 16.4394 16.8449 16.2957 17.1006 16.04C17.3563 15.7842 17.5 15.4374 17.5 15.0757V7.65149"
                                stroke="#74808B" stroke-miterlimit="10" stroke-linecap="square" />
                            <path
                                d="M17.5 7.57572V5.53026C17.5 5.1686 17.3563 4.82176 17.1006 4.56603C16.8449 4.31029 16.498 4.16663 16.1364 4.16663H3.86364C3.50198 4.16663 3.15513 4.31029 2.8994 4.56603C2.64367 4.82176 2.5 5.1686 2.5 5.53026V7.57572L10 10.8333L17.5 7.57572Z"
                                stroke="#74808B" stroke-miterlimit="10" stroke-linecap="square" />
                        </svg>

                    </div>
                </div>
                <div class="page-card-actions">
                    <button class="btn btn-sm btn-primary btn-block btn-forgot" type="submit">{{ _("Reset Password")
                        }}</button>
                    <p class="text-center sign-up-message">
                        <a href="#login">{{ _("Back to Login") }}</a>
                    </p>
                </div>

            </form>
        </div>
    </section>

    <section class='for-login-with-email-link'>
        {{ logo_section('Login With Email Link') }}
        <div class="login-content page-card">
            <form class="form-signin form-login-with-email-link hide" role="form">
                <div class="page-card-body">
                    <div class="email-field">
                        <input type="email" id="login_with_email_link_email" class="form-control"
                            placeholder="{{ _('Email Address') }}" required autofocus autocomplete="username">
                        <svg class="field-icon email-icon" width="20" height="20" viewBox="0 0 20 20" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M2.5 7.65149V15.0757C2.5 15.4374 2.64367 15.7842 2.8994 16.04C3.15513 16.2957 3.50198 16.4394 3.86364 16.4394H16.1364C16.498 16.4394 16.8449 16.2957 17.1006 16.04C17.3563 15.7842 17.5 15.4374 17.5 15.0757V7.65149"
                                stroke="#74808B" stroke-miterlimit="10" stroke-linecap="square" />
                            <path
                                d="M17.5 7.57572V5.53026C17.5 5.1686 17.3563 4.82176 17.1006 4.56603C16.8449 4.31029 16.498 4.16663 16.1364 4.16663H3.86364C3.50198 4.16663 3.15513 4.31029 2.8994 4.56603C2.64367 4.82176 2.5 5.1686 2.5 5.53026V7.57572L10 10.8333L17.5 7.57572Z"
                                stroke="#74808B" stroke-miterlimit="10" stroke-linecap="square" />
                        </svg>
                    </div>
                </div>
                <div class="page-card-actions">
                    <button class="btn btn-sm btn-primary btn-block btn-login-with-email-link" type="submit">{{ _("Send
                        login link") }}</button>
                    <p class="text-center sign-up-message">
                        <a href="#login">{{ _("Back to Login") }}</a>
                    </p>
                </div>
            </form>
        </div>
    </section>
</div>
{% endblock %}

{% block script %}
<script>{% include "templates/includes/login/login.js" %}</script>
{% endblock %}

{% block sidebar %}{% endblock %}
afdaf